[Desktop Entry]
Version=1.0
Name=DXR3/Hollywood+ Control Panel
Comment=DXR3/Hollywood Plus control panel
Exec=dhc
Icon=dhc
Terminal=false
Type=Application
Categories=System;Settings;HardwareSettings;GTK;
StartupWMClass=dhc
