[Desktop Entry]
Name=DXR3view
Comment=DXR3/Hollywood Plus overlay viewer
Exec=dxr3view
Terminal=false
Type=Application
Encoding=UTF-8
Categories=AudioVideo;Video;GTK;
