Source: em8300
Section: contrib/graphics
Priority: optional
Maintainer: Jonas Birme <jonas@birme.se>
Standards-Version: 0.8.0.0

Package: em8300
Architecture: i386
Pre-Depends: debconf (>= 0.2.17)
Depends: ${shlibs:Depends}, gcc, make
Description: H+ / DXR3 device driver for Linux.
 For further information, visit the webpage at http://dxr3.sourceforge.net/
 .
 Installs libdxr3 and em8300-modules for compilation.
