Source: em8300
Section: contrib/graphics
Priority: optional
Maintainer: Jonas Birme <jonas@birme.se>
Standards-Version: 0.8.1

Package: em8300
Architecture: any
Depends: ${shlibs:Depends}
Description: H+ / DXR3 device driver for Linux.
 For further information, visit the webpage at http://dxr3.sourceforge.net/
 .
 Installs libdxr3 and em8300-modules for compilation

Package: em8300-source
Section: admin
Architecture: all
Recommends: dpkg, dpkg-dev, libc-dev, gcc, make
Description: H+ / DXR3 device driver for Linux.
 For further information, visit the webpage at http://dxr3.sourceforge.net/
 .
 This package includes the modules to compile. The kernel-source is required
 to compile these modules.
