# Configuration file for the em8300 chip
#

# To enable uploading microcode at boot, set this to yes.
# Default: no
BOOTUPLOAD="no"

# Where the microcode is, if not specified /etc/dxr3.ux will be
# uploaded
# Default: 
MICROCODE="/etc/dxr3.ux"

# Module parameters
# This parameters will be passed, when loading modules
# Default is none

# adv717x
PARM_ADV717X=""

# em8300
PARM_EM8300=""

#PARM_ADV717X="pixelport_16bit=1 pixelport_other_pal=1"
#PARM_EM8300="dicom_fix=1 dicom_control=1 dicom_other_pal=1"

#PARM_ADV717X="pixelport_16bit=0 pixelport_other_pal=0"
#PARM_EM8300="dicom_fix=1 dicom_control=1 dicom_other_pal=0"

#PARM_ADV717X="pixelport_16bit=0 pixelport_other_pal=1"
#PARM_EM8300="dicom_fix=1 dicom_control=1 dicom_other_pal=1"

#PARM_ADV717X="pixelport_16bit=1 pixelport_other_pal=0"
#PARM_EM8300="dicom_fix=0 dicom_control=0 dicom_other_pal=0"

