#!/bin/sh -e

# Source debconf library
. /usr/share/debconf/confmodule

if [ "$1" = "configure" ]; then
	db_input medium em8300-source/build_modules || true
	db_go

	db_get em8300-source/build_modules
	DO_BUILD=$RET

	while [ "$DO_BUILD" = "true" ]
	do
		# Let user specify KSRC
		db_input high em8300-source/kernel-source || true
		db_go || true
		db_get em8300-source/kernel-source || true
		KSRC="$RET"

		if [ -f "$KSRC/Rules.make" ]; then
			break
		fi

		# KSRC not valid
		db_fset em8300-source/kernel-source-not-found seen false
		db_subst em8300-source/kernel-source-not-found ksrc "$KSRC"
		db_input medium em8300-source/kernel-source-not-found || true
		
		db_reset em8300-source/kernel-source || true
		db_fset em8300-source/kernel-source seen false

		db_reset em8300-source/build_modules || true
		db_fset em8300-source/build_modules seen false
		db_input medium em8300-source/build_modules || true
		db_go || true

		db_get em8300-source/build_modules
		DO_BUILD=$RET
	done
fi

db_stop
