#!/usr/bin/make -f
# Made with the aid of debmake, by Christoph Lameter,
# based on the sample debian/rules file for GNU hello by Ian Jackson.

package=em8300
kvers=`uname -r`

build:
	$(checkdir)
	./configure --prefix=/usr
	$(MAKE)
	touch build

build-modules:
	$(checkdir)
	cd modules ;\
	$(MAKE) ;\
	cd ..
	touch build-modules
	
clean:
	$(checkdir)
	-rm -f build
	-$(MAKE) clean
	-rm -f `find . -name "*~"`
	-rm -rf debian/tmp debian/files* core debian/substvars

clean-modules:
	$(checkdir)
	-rm -f build-modules
	-cd modules ;\
	$(MAKE) clean ;\
	cd ..
	
binary-indep: binary-source
	$(checkdir)

binary-arch: checkroot build
	$(checkdir)
	-rm -rf debian/tmp
	install -d debian/tmp
	cd debian/tmp && install -d `cat ../dirs`
	$(MAKE) install DESTDIR=`pwd`/debian/tmp
# Must have debmake installed for this to work. Otherwise please copy
# /usr/bin/debstd into the debian directory and change debstd to debian/debstd
	debstd ChangeLog NEWS README 
	install debian/templates debian/tmp/DEBIAN/templates
	dpkg-gencontrol -pem8300 -isp
	chown -R root.root debian/tmp
	chmod -R go=rX debian/tmp
	dpkg --build debian/tmp ..

binary-modules: checkroot build-modules
	$(checkdir)
	-rm -rf debian/tmp-modules
	install -d debian/tmp-modules debian/tmp-modules/DEBIAN
	install -d "debian/tmp-modules/usr/share/doc/em8300-modules-$(kvers)"
	install debian/em8300-modules.postinst debian/tmp-modules/DEBIAN/postinst
	install debian/em8300-modules.prerm debian/tmp-modules/DEBIAN/prerm
	install debian/em8300-modules.postrm debian/tmp-modules/DEBIAN/postrm
	install debian/templates debian/tmp-modules/DEBIAN/templates
	cd modules ;\
	$(MAKE) prefix=`pwd`/../debian/tmp-modules/ install ;\
	cd ..
	install -d debian/tmp-modules/etc/init.d
	install -m755 debian/em8300-modules.initd debian/tmp-modules/etc/init.d/em8300
	sh -v debian/setvers.sh
	chown -R root.root debian/tmp-modules
	chmod -R go=rX debian/tmp-modules
	dpkg --build debian/tmp-modules ..

binary-source: checkroot
	$(checkdir)
	-rm -rf debian/tmp-src
	install -d debian/tmp-src debian/tmp-src/DEBIAN
	install debian/em8300-source.postinst debian/tmp-src/DEBIAN/postinst
	install debian/em8300-source.prerm debian/tmp-src/DEBIAN/prerm
	install -d debian/tmp-src/usr/src/modules/$(package)
	install -d debian/tmp-src/usr/share/doc/em8300-source
	
	find . \( -path ./debian/tmp-src -o -name 'tmp*' \) -prune -o -print | \
	  cpio -admp debian/tmp-src/usr/src/modules/$(package)
	cd debian/tmp-src/usr/src/modules/$(package) && \
	  $(MAKE) -f debian/rules clean-modules clean
	chown -R root.root debian/tmp-src
	find debian/tmp-src -type d | xargs chmod 755
	find debian/tmp-src -type f -perm -100 | xargs chmod 755
	find debian/tmp-src -type f -not -perm -100 | xargs chmod 644
	cd debian/tmp-src/usr/src && \
	  tar cf $(package).tar modules && \
	  $(RM) -r modules/$(package)
	gzip -9 debian/tmp-src/usr/src/$(package).tar
	chmod 644 debian/tmp-src/usr/src/$(package).tar.gz
	
	install -m 644 ChangeLog \
	  debian/tmp-src/usr/share/doc/em8300-source/changelog
	install -m 644 debian/README.debian \
	  debian/tmp-src/usr/share/doc/em8300-source/README.debian
	install -m 644 debian/changelog \
	  debian/tmp-src/usr/share/doc/em8300-source/changelog.Debian
	gzip -9v debian/tmp-src/usr/share/doc/em8300-source/*
	install -m 644 debian/copyright \
	  debian/tmp-src/usr/share/doc/em8300-source/copyright
	  
	dpkg-gencontrol -pem8300-source -Pdebian/tmp-src
	dpkg-deb --build debian/tmp-src ..


define checkdir
	test -f debian/rules
endef

binary: binary-indep binary-arch

checkroot:
	$(checkdir)
	test root = "`whoami`"

.PHONY: binary binary-arch binary-indep clean checkroot \
	binary-modules clean-modules
