#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules file - for em8300
# Copyright 2001 by Jonas Birme (jonas@birme.se)
# Patterned after the hello package by Ian Jackson and 
# the pcmcia-cs package by Brian Mays

package=em8300
KSRC?=/usr/src/linux
kvers=`uname -r`
MOD_DIR?='.'

# Automatically (non-interactively) configures the package using the
# kernel source tree
.prereq.ok:
	   debian/do_configure
	$(RM) build
	$(RM) -r *~ */*~ debian/tmp debian/tmp-modules debian/*~ \
	  debian/files debian/control.tmp debian/substvars \
	  debian/KVERS

.prereq.modules:
	   debian/makefile.sh
	   rm -rf build-modules
	rm -rf debian/tmp-modules
	cd modules
	-$(MAKE) clean
	cd ..

build:	.prereq.ok
	$(checkdir)
	sh -v debian/make-tarball.sh
	$(MAKE)
	   
build-modules: .prereq.modules
	   $(checkdir)
	   touch build-modules

kdist_clean clean: .prereq.ok
	$(checkdir)
	$(RM) build build-modules
	cat debian/source.control debian/em8300.control \
	  > debian/control
	$(MAKE) clean
	$(RM) -r *~ */*~ debian/tmp debian/tmp-modules debian/*~ \
	  debian/files debian/control.tmp debian/substvars \
	  debian/KVERS

clean-modules:
	$(checkdir)
	rm -f build-modules
	cd modules
	-$(MAKE) clean
	cd ..
	rm -rf build-modules

binary-indep: checkroot build
	      $(checkdir)

binary-lib:	checkroot build
	$(checkdir)
	$(RM) -r debian/tmp
	install -d debian/tmp debian/tmp/DEBIAN
	install -d debian/tmp/usr/share/doc/$(package)
	install debian/em8300.config	debian/tmp/DEBIAN/config
	install debian/em8300.preinst	debian/tmp/DEBIAN/preinst
	install debian/em8300.postinst	debian/tmp/DEBIAN/postinst
	install debian/em8300.prerm	debian/tmp/DEBIAN/prerm
	install debian/em8300.postrm	debian/tmp/DEBIAN/postrm
	install -m644 debian/em8300.templates debian/tmp/DEBIAN/templates
	$(MAKE) \
	  prefix=$$(pwd)/debian/tmp/usr install
	strip `ls debian/tmp/usr/bin/* 2>/dev/null`
	install -d debian/tmp/usr/sbin/
	install -m755 scripts/microcode* scripts/msexpand.pl \
	  debian/tmp/usr/sbin/
	install -d debian/tmp/usr/src
	install -m644 debian/em8300.tar.gz debian/tmp/usr/src/
	install -m644 README NEWS AUTHORS \
	  debian/tmp/usr/share/doc/$(package)/.
	install -m644 ChangeLog debian/tmp/usr/share/doc/$(package)/changelog
	install -m644 debian/README \
	  debian/tmp/usr/share/doc/$(package)/README.Debian
	install -m644 debian/changelog \
	  debian/tmp/usr/share/doc/$(package)/changelog.Debian
	gzip -9v debian/tmp/usr/share/doc/$(package)/*
	install -m644 debian/copyright \
	  debian/tmp/usr/share/doc/$(package)/copyright
	install -d debian/tmp/usr/share/man/man1
	install -m644 debian/man/*.1 debian/tmp/usr/share/man/man1/
	gzip -9v debian/tmp/usr/share/man/man1/*
	dpkg-shlibdeps `ls 2>/dev/null dhc/dhc overlay/autocal overlay/dxr3view libdxr3/.libs/libdxr3.so.0.0.0`
	dpkg-gencontrol -pem8300
	sed '/:/s/, *$$//' debian/tmp/DEBIAN/control \
	  > debian/tmp/DEBIAN/control.new
	mv debian/tmp/DEBIAN/control.new debian/tmp/DEBIAN/control
	chmod 644 debian/tmp/usr/lib/libdxr3.la
	chmod 644 debian/tmp/usr/share/em8300/em8300.pm
	chown -R root.root debian/tmp
	chmod -R g-ws debian/tmp
	dpkg-deb --build debian/tmp ..

binary-modules: checkroot build-modules
	     rm -rf debian/tmp-modules
	     install -d debian/tmp-modules debian/tmp-modules/DEBIAN
	     install -d "debian/tmp-modules/usr/share/doc/em8300-modules-$(kvers)"
	     install debian/modules.postinst debian/tmp-modules/DEBIAN/postinst
	     install debian/modules.prerm debian/tmp-modules/DEBIAN/prerm
	     install debian/modules.postrm debian/tmp-modules/DEBIAN/postrm
	     KVERS="$(kvers)" \
	       sh -v debian/setvers.sh
	     cd modules ;\
	     $(MAKE) prefix=`pwd`/../debian/tmp-modules/ install ;\
	     cd .. ;\
	     install -d debian/tmp-modules/etc/init.d
	     install -m755 debian/em8300.initd debian/tmp-modules/etc/init.d/em8300
	     install -m644 debian/changelog \
	       debian/tmp-modules/usr/share/doc/em8300-modules-$(kvers)/changelog.Debian
	     gzip -9v debian/tmp-modules/usr/share/doc/em8300-modules-*/*
	     install -m644 debian/copyright \
	       debian/tmp-modules/usr/share/doc/em8300-modules-$(kvers)/copyright
	     cat COPYING \
	       >> debian/tmp-modules/usr/share/doc/em8300-modules-$(kvers)/copyright
	     chown -R root.root debian/tmp-modules
	     chmod -R g-ws debian/tmp-modules
	     if test -d debian/tmp-modules/lib/modules; then \
	       dpkg-deb --build debian/tmp-modules $(MOD_DIR)/..; fi
	     
define checkdir
       test -f modules/Makefile.2.4 -a -f debian/rules
endef

checkroot:
	  $(checkdir)
	  test root = "`whoami`"
	  
binary:	  clean binary-lib

.PHONY: binary-arch binary-indep binary-modules \
	clean-modules checkroot
